.sem-carousel{
    items: 3,
    itemsFit: 'contain',
}

.backgroundCarousel{
    background-image: url('https://i.imgur.com/gESSQVG.jpg');
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}