.backgroundTema1{
    background-image: url(https://i.imgur.com/WizgGzX.jpg);
    opacity: 0.4;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.backgroundTema2{
    overflow: hidden;
    position: absolute;
    top: 5%;

}

.cadastroPostagem{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
}


.tema1{
    position: relative;
}
