.imagemCadastro {
    background-image: url(https://i.ibb.co/64J9Zd6/Image-For-Article-21317-16444165253611789.jpg);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.botaoCadastrar{
    margin-right: 20px !important;
    background-color: #07bcd4 !important;
}

.botaoCadastrar:hover{
    background-color:#08aabe !important; 
}

.botaoCancelar{
    background-color: #ff4d80!important;

}

.botaoCancelar:hover{
    background-color: #ff66c4!important;
}